<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students List</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <!-- Font Awesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-CfhOTIaTQ6UACsn6UaD6Ia38klxNRmz0iJfTmJKzTki0lTUDrOgzrZbq3mX9ygI+RCmR8hxOg6BcdD2B2LKVHg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Custom CSS -->
    <style>
      /* Sidenav bar */
      .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #333;
        overflow-x: hidden;
        padding-top: 20px;
      }
      /* Sidenav links */
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        color: #f1f1f1;
        display: block;
      }
      /* Sidenav active link */
      .active {
        background-color: #4caf50;
        color: white;
      }
      /* Main content */
      .main {
        margin-left: 200px; /* Same width as the sidebar */
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <!-- Sidenav bar -->
    <div class="sidenav">
      <a href="/admin/showstudent"><i class="fas fa-users"></i> Students Profile</a>
      <a href="/admin/users" class="active"><i class="fas fa-users"></i> Users Account</a>
      <a href="/admin/home"><i class="fas fa-tasks"></i> Back </a>
    </div>
    <!-- Main content -->
    <div class="main">
      <h1>List of Students</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if( users.length > 0) { for(let i=0;i < users.length ; i++) {
          %>
          <tr>
            <td><%= users[i].fristname +" "+ users[i].lastname %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].mobile %></td>
          <td>
            <a href="/admin/deleteuser/<%= users[i]._id%>" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</a>
          </td>
          
          </tr>
          
          <% } } else { %>
          <tr>
            <td>Users Not Found</td>
          </tr>
          <% } %>

        </tbody>
      </table>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
