<!DOCTYPE html>
<html>
<head>
	<title>College Images | College Placement Cell</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
		.container {
			margin-top: 50px;
		}

		.img-thumbnail {
			margin-bottom: 30px;
			border: none;
			box-shadow: 0px 0px 5px #ddd;
		}

		.img-thumbnail:hover {
			box-shadow: 0px 0px 10px #ddd;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">HVPM COET AMRAVATI</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="index.html">Home</a>
				</li>
			
			
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1>College Images</h1>
		<div class="row">
			<div class="col-md-4">
				<a href="img/image1.jpg" target="_blank"><img src="F:\placement web\public/c1.jpg" alt="College Image" class="img-thumbnail"></a>
			</div>
			<div class="col-md-4">
				<a href="img/image2.jpg" target="_blank"><img src="F:\placement web\public/c2.jpg" alt="College Image" class="img-thumbnail"></a>
			</div>
			<div class="col-md-4">
				<a href="img/image3.jpg" target="_blank"><img src="F:\placement web\public/c3.jpg" alt="image" class="img-thumbnail"></a>
			</div>
			
</body>
</html>
