<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Login Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div id="login-form-wrap">
      <h2>Student Login</h2>
      <% if(typeof message !=='undefined'){ %>
      <h4><%= message %></h4>
      <% } %>
      <form id="login-form" action="/user/login" method="post">
        <p>
          <input type="text" name="email" placeholder="email" required /><i
            class="validation"
            ><span></span><span></span
          ></i>
        </p>
        <p>
          <input
            type="password"
            id="pwd"
            name="password"
            placeholder="password"
            required
          /><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="submit" id="login" value="Login" />
        </p>
      </form>
      <div id="create-account-wrap">
        <p>Not a member? <a href="/user/signup">Create Account</a></p>
        <a href="/">Home</a>
        <p></p>
      </div>

      <!--create-account-wrap-->
    </div>
    <!--login-form-wrap-->
    <!-- partial -->
  </body>
</html>
